<launch>

<arg name="debug" default="false" />
<arg name="debug_prefix" value="gdb --args" if="$(arg debug)"/>
<arg name="debug_prefix" value="" unless="$(arg debug)"/>

<!-- pose_calibrator node -->
<node name="pose_calibrator" pkg="mcptam" type="pose_calibrator" clear_params="true" output="screen" launch-prefix="$(arg debug_prefix)"> 
  <rosparam command="load" file="$(find mcptam)/groups/$(arg group_name).yaml" />
  <remap from="reset" to="pose_calibrator/reset" />
  <param name="image_transport" type="string" value="compressed"/> 
  <param name="pattern_width" type="int" value="4"/>
  <param name="pattern_height" type="int" value="6"/>
  <param name="square_size" type="double" value="0.1142"/>
  <param name="finder_max_ssd_per_pixel" type="int" value="500" />
  <param name="kf_distance_mean_diff_fraction" type="double" value="0.0" />
  <param name="kf_adaptive_thresh" type="bool" value="false" />
  <param name="mm_large_point_test" type="bool" value="false" />
  
  <rosparam command="load" file="$(find mcptam)/masks/masks_1,2.yaml" />
  <param name="masks_dir" type="string" value="$(find mcptam)/masks" />
</node>

</launch>

